.annotation, .annotation-number
  position: absolute
  color: #fff
  box-sizing: unset

.annotation
  word-break: break-word
  margin-left: 15px
  margin-top: 15px
  padding: 1em
  width: 152px
  border-radius: .5em
  font-size: 12px
  line-height: 1.2
  background-color: rgba(0, 0, 0, 0.8)

.annotation-number
  width: 30px
  height: 30px
  border: 2px solid #fff
  border-radius: 50%
  font-size: 15px
  line-height: 30px
  text-align: center
  background-color: rgba(86, 61, 124, 0.8)

.hidden
  opacity: 0
  margin: 0
  padding: 0

.model-viewer-home
  top: 20px

.model-viewer-return
  top: 80px

.model-viewer-annotate
  top: 140px

.annotations-create-container
  position: fixed
  float: right
  width: 300px
  text-align: center
  color: white
  background-color: rgba(86, 61, 124, 0.8)
  border-radius: 10px
  right: 20px
  top: 20px
  padding-bottom: 0
  margin-bottom: 0

.annotations-create
  padding: 5px
  margin: 5px
